/* layout.css */

/* Distribución general de la página */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: var(--fondo-base);
  color: var(--gris-oscuro);
}

/* Header */
#header {
  width: 100%;
  background-color: var(--profundo);
  color: var(--fondo-base);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px var(--gris-oscuro);
  border-bottom: 1px solid black;
}

#header .logo {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  gap: 0.5rem;
}

#header .logo-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  filter: invert(1);
}

/* Link general */
.teoria-link, .inicio-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--fondo-base);
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    width: 70px;
    height: 70px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.teoria-link:hover, .inicio-link:hover {
    color: var(--resaltador);
}

.teoria-link img, .inicio-link img {
    width: 28px;
    height: 28px;
    margin-bottom: 4px;
    transition: filter 0.2s ease;
}

.inicio-link img {
  filter:invert(1);
}

.teoria-link:hover img,
.inicio-link:hover img {
    filter: brightness(0) saturate(100%) invert(77%) sepia(13%) saturate(846%) hue-rotate(125deg) brightness(90%) contrast(88%);
}

/* Contenedor principal con aside + main */
.principal-container {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background-color: var(--profundo);
  border-right: 1px solid var(--gris-oscuro);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: calc(100vh - 80px); 
}

/* Botón hamburguesa con texto */
.menu-toggle {
  display: flex;
  align-items: center;
  gap: 8px;
  background: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  padding: 12px 20px;
  text-align: left;
}

.menu-toggle svg {
  width: 24px;
  height: 24px;
}

.menu-toggle:hover {
  background-color: var(--gris-oscuro);
}

#sidebar-nav ul {
  list-style: none;
  width: 100%;
}

#sidebar-nav li {
  width: 100%;
}

#sidebar-nav button {
  width: 100%;
  background: none;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

#sidebar-nav button:hover {
  background-color: var(--gris-oscuro);
  color: var(--resaltador);
}

#sidebar-nav button:focus {
  outline: none;
}

/* Layout */
.principal-container {
  display: flex;
  width: 100%;
}

main {
  flex: 1;
  padding: 40px;
  background-color: var(--fondo-base);
  min-height: calc(100vh - 80px); 
}

html {
    overflow-y: overlay;
}
